{% extends 'base.html' %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static '/RLibrary/reset.css' %}"> {% endblock style %}

{% block content %}

<section class="vectors">
    <img src="{% static "/RLibrary/images/bigvec.png" %}" alt="">
    <img src="{% static "/RLibrary/images/smavec.png" %}" alt="">
</section>

<div class="pass_comp">
    <h3>Congratualtions! Password has been reset </h3>
    <h4>continue to <a href="{% url 'SignIn'%}">login</a></h4>
</div>
{% endblock content %}